/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */



body {
    color: rgb(40, 40, 40);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4D1717;
    color: white;
}

.nav__wrapper {
    display: flex;
    margin: auto;
    max-width: 800px;
}

.logo {
    padding: 1em;
    min-width: 300px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

nav div {
    display: flex;
    align-items: center;
}

nav button {
    border: none;
    color: white;
    background: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    opacity: .7;
    outline: none;
}

nav button:hover {
    opacity: 1;
    text-decoration: underline;
}

.subnav {
    display: flex;
    margin: auto;
    padding: .5em 0;
    max-width: 700px;
}


main {
    margin: auto;
    max-width: 700px;
}

select {
    padding: .3em;
}

.menu__container {
    display: flex;
    flex-direction: column;
}

.reviews__container {
    display: flex;
}

fieldset {
    border: none;
    margin: 0 0 1em 0;
    padding: 0;
}

.star {
    color: crimson
}

.star--fade {
    opacity: .5;
}

.btn--delete {
    background-color: crimson;
    color: white;
    border: 1px solid rgb(40, 40, 40);
}

/* CSS UTILITIES */

/* FLEX */

.flex-between {
    display: flex;
    justify-content: space-between;
}

/* MARGINS */

.mar-l {
    margin-left: 1em;
}

.mar-r {
    margin-right: 1em;
}

.mar-b {
    margin-bottom: 2em;
}